---
title: glossary
---
# <a name=hab-glossary> Chef Habitat Glossary</a>
Chef Habitat is a framework comprised of multiple components: Chef Habitat Builder; the Supervisor; an HTTP interface on that supervisor to report package status; a communication model for disseminating rumors through a supervisor ring, and others.

This section will delve into each of these major components to give a shared vocabulary on what they are, what they do, and how they work together. For information about the underlying design goals that motivated these components, see [Why Chef Habitat?](/about/).

You can also check out Chef Habitat's [reference architectures](/docs/diagrams).

## Table of Contents

  - [Application Lifecycle Hooks](#glossary-hooks)
  - [Artifacts](#glossary-artifacts)
  - [Builder](#glossary-builder)
  - [Hab](#glossary-hab)
  - [Keys](#glossary-keys)
  - [Launcher](#glossary-launcher)
  - [Plans](#glossary-plan)
  - [Scaffolding](#glossary-scaffolding)
  - [Services](#glossary-services)
  - [Studio](#glossary-studio)
  - [Supervisor](#glossary-supervisor)

---
<%= partial "/partials/docs/glossary-artifacts" %>
---
<%= partial "/partials/docs/glossary-builder" %>
---
<%= partial "/partials/docs/glossary-hab"%>
---
<%= partial "/partials/docs/glossary-hooks" %>
---
<%= partial "/partials/docs/glossary-launcher" %>
---
<%= partial "/partials/docs/glossary-keys" %>
---
<%= partial "/partials/docs/glossary-plan" %>
---
<%= partial "/partials/docs/glossary-scaffolding" %>
---
<%= partial "/partials/docs/glossary-services" %>
---
<%= partial "/partials/docs/glossary-studio" %>
---
<%= partial "/partials/docs/glossary-supervisor" %>
