---
title: glossary
---
# <a name=hab-glossary> Habitat Glossary</a>
Habitat is a framework comprised of multiple pieces of software from the plan.sh and build system/artifact repository, to the supervisor, an HTTP interface on that supervisor to report package status, a communication model for disseminating rumors through a supervisor ring, and many other components.

This section will delve into each of these major components to give us a shared vocabulary on what they are, what they do, and how they work together. For information about the underlying design goals that motivated these components, see [Why Habitat?](/about/).

You can also see Habitat's reference architectures at [Habitat Infographics](/docs/reference/#infographics)

## Table of Contents

  - [Hab](#glossary-hab)
  - [Supervisor](#glossary-supevisor)
  - [Plans](#glossary-plan)
  - [Hooks](#glossary-hooks)
  - [Scaffolding](#glossary-scaffolding)
  - [Packages](#glossary-package)
  - [Keys](#glossary-keys)
  - [Studio](#glossary-studio)
  - [Services](#glossary-services)
  - [Builder](#glossary-builder)

---
<%= partial "/partials/docs/glossary-hab"%>
---
<%= partial "/partials/docs/glossary-supervisor" %>
---
<%= partial "/partials/docs/glossary-plan" %>
---
<%= partial "/partials/docs/glossary-hooks" %>
---
<%= partial "/partials/docs/glossary-scaffolding" %>
---
<%= partial "/partials/docs/glossary-packages" %>
---
<%= partial "/partials/docs/glossary-keys" %>
---
<%= partial "/partials/docs/glossary-studio" %>
---
<%= partial "/partials/docs/glossary-services" %>
---
<%= partial "/partials/docs/glossary-builder" %>