---
title: glossary
---
# <a name=hab-glossary> Habitat Glossary</a>
Habitat is a framework comprised of multiple components: Habitat Builder; the Supervisor; an HTTP interface on that supervisor to report package status; a communication model for disseminating rumors through a supervisor ring, and others.

This section will delve into each of these major components to give a shared vocabulary on what they are, what they do, and how they work together. For information about the underlying design goals that motivated these components, see [Why Habitat?](/about/).

You can also check out Habitat's [reference architectures](/docs/diagrams).

## Table of Contents

  - [Hab](#glossary-hab)
  - [Supervisor](#glossary-supervisor)
  - [Launcher](#glossary-launcher)
  - [Plans](#glossary-plan)
  - [Application Lifecycle Hooks](#glossary-hooks)
  - [Scaffolding](#glossary-scaffolding)
  - [Packages](#glossary-packages)
  - [Keys](#glossary-keys)
  - [Studio](#glossary-studio)
  - [Services](#glossary-services)
  - [Builder](#glossary-builder)

---
<%= partial "/partials/docs/glossary-hab"%>
---
<%= partial "/partials/docs/glossary-supervisor" %>
---
<%= partial "/partials/docs/glossary-launcher" %>
---
<%= partial "/partials/docs/glossary-plan" %>
---
<%= partial "/partials/docs/glossary-hooks" %>
---
<%= partial "/partials/docs/glossary-scaffolding" %>
---
<%= partial "/partials/docs/glossary-packages" %>
---
<%= partial "/partials/docs/glossary-keys" %>
---
<%= partial "/partials/docs/glossary-studio" %>
---
<%= partial "/partials/docs/glossary-services" %>
---
<%= partial "/partials/docs/glossary-builder" %>
