---
title: Chef Habitat Docs - Working with Builder
description: Documentation for Chef Habitat uploading, auto-building, and deploying application packages with Chef Habitat Builder.
---
# <a name="using-builder" id="using-builder" data-magellan-target="using-builder">Working with Builder</a>
<a target="_blank" href="https://bldr.habitat.sh/#/sign-in">Chef Habitat Builder</a> allows you to store, automatically build, and deploy your Chef Habitat packages. The documentation below covers everything from creating an account to setting up automated builds and exporting packages to a variety of container registries.

> For a guided walkthrough of this process, try the [Build System demo](/demo/build-system/steps/1/).

### Table of Contents

  - [Create a Builder Account](#builder-account)
  - [Create an Origin on Builder](#builder-origin)
  - [Create an Access Token](#builder-token)
  - [Using Origin Keys](#origin-keys)
  - [Using Origin Secrets](#origin-secrets)
  - [Upload and Promote Packages](#sharing-pkgs)
  - [Using Multiple Plans](#multiple-plans-builder)
  - [Set up Automated Builds](#automated-builds)
  - [Install and Use Builder On-Premises](#on-prem)

---
<%= partial "/partials/docs/using-builder-create-account"%>
---
<%= partial "/partials/docs/using-builder-access-tokens"%>
---
<%= partial "/partials/docs/using-builder-create-origin"%>
---
<<<<<<< HEAD
<%= partial "/partials/docs/using-builder-origin-keys"%>
---
<%= partial "/partials/docs/using-builder-access-tokens"%>
---
=======
## <a name="builder-token" id="builder-token" data-magellan-target="builder-token">Generate an Access Token</a>

You can build and run Chef Habitat packages without authenticating to Builder; however some operations, like uploading your packages to Builder, or checking status of your build jobs from the Chef Habitat client, will require an access token.

From the Builder site, select your user icon in the upper right-hand side, and select **Profile**.

<img src="/images/screenshots/profile.png">

At the bottom of the profile page, select **Generate Token**.

<img src="/images/screenshots/generate-token.png">

Copy your token, and then set it in the CLI by running:

```bash
export HAB_AUTH_TOKEN=<token>
```

Replacing `<token>` with the contents of your generated token.

>>>>>>> Changed 'Habitat' to 'Chef Habitat' in documentation & blog.
<%= partial "/partials/docs/using-builder-origin-secrets"%>
---
<%= partial "/partials/docs/dev-pkgs-share"%>
---
<%= partial "/partials/docs/dev-pkgs-multiple-plans-builder"%>
---
<%= partial "/partials/docs/using-builder-automated-builds"%>
---
<%= partial "/partials/docs/using-builder-on-prem"%>
